# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project Files
.dev/
.telemetry/*
!.telemetry/.gitkeep
.env
ShakeScouter/models/dataset.json

# VSCode settings (local only)
.vscode/
